{% extends 'basic.html' %}
{% load static %}

{% block content %}

    <style>
    .bg-section {
        height: 400px;
    }
    .product-image{
        max-width: 100%;
        max-height: 100%;
        {#height: 100%;#}
        width: 100%;
        display: block;
        margin-top: 70px;

    }
    </style>



    {% for p in project %}
        <div class="bg-section mb-3">
            <img class="product-image" src="{{ p.image.url }}">
        </div>
    {% endfor %}



    <!-- Portfolio -->
    <div id="portfolio" class="section sm-padding">
        <!-- Container -->
        <div class="container">
            <!-- Row -->
            <div class="row">
                {% for p in project %}
                    <!-- Section header -->
                    <div class="section-header text-center">
                        <h2 class="title">{{ p.name }}</h2>
                    </div>
                    <!-- /Section header -->
                    <!-- Work -->
                    <div class="col-md-8">

                        <div><h3>Description</h3></div>
                        <div>{{ p.content|safe }}</div>
                        {% if p.video %}
                            <video poster="{% static p.image.url %}" width="500px" height="350px"
                                   controls="controls" preload="none" onclick="this.play()">
                                <source type="video/mp4" src="{{ p.video.url }}">
                            </video>
                        {% endif %}

                    </div>
                {% endfor %}
                <div class="col-md-4 voucher work text-center">
                    {% for p in project %}
                        {% if p.voucherPDF %}
                            <button class="btn btn-lg main-btn" type="submit"
                                    onclick="window.location.href='{{ p.voucherPDF.url }}'"><i
                                    class="fa fa-download"> Download Brochure</i>
                            </button>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- /Row -->
        </div>
        <!-- /Container -->

    </div>
    <!-- /Portfolio -->


    <!-- modal -->
    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            {% for p in project %}
                {% if p.voucher %}
                    <div class="modal-content">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="position: absolute; top: 5px; right: 5px"></button>
                        <img src="{{ p.voucher.url }}">
                        <a class="btn btn-lg main-btn"
                           href="{{ p.voucher.url }}" download="broucher">
                            <i class="fa fa-download"> Download Brochure</i>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
    </div>
    <!-- /modal -->

{% endblock %}

{% block script %}
  <script>
      $(document).ready(function () {
          {% for p in project %}
              {% if p.voucher %}
                  $(".modal").modal('show');
              {% endif %}
          {% endfor %}
      });
  </script>
{% endblock %}